

<form #newUser="ngForm"
(ngSubmit)="onSubmit(newUser)">
<p>
<label for="name">
Nombre
</label>
<input type="text"
   name="name"
   #name="ngModel"
   [(ngModel)]="new_user.name"
   required/>
<span *ngIf="name.touched && !new_user.name">
El nombre no es valido
</span>
</p>

<p>
<label for="job">
Trabajo
</label>
<input type="text"
       name="job"
       #job="ngModel"
       [(ngModel)]="new_user.job"
       required/>
<span *ngIf="job.touched && !new_user.job">
El trabajo no es valido
</span>
</p>

<input type="submit"
 value="Guardar usuario"
 [disabled]="!newUser.form.valid" />

</form>
<div *ngIf="usuario_guardado">
  <h2> El usuario se ha guardado correctamente!!!</h2>
  <h3> {{usuario_guardado.name}}</h3>
  <h3> {{usuario_guardado.job}}</h3>

</div>

<hr/>
{{fecha | date: 'fullDate' | uppercase}}
<br/>
{{fecha | date: 'dd/MM/yyyy'}}
<br/>
hola {{ 4 | calculadora: 6}}
<hr>
<div *ngIf="!user">
  Cargando...
</div>
<div *ngIf="user"
      style="border: 1px solid gray; margin: 10px">
      <input type="text" [(ngModel)]="userId"
             (keyup.enter)="cargaUsuario()">
  <img src="{{user.avatar}}"
       alt="imagen de perfil"
       width="100px"
       style="border-radius: 50%">
  <h2>
    {{user.first_name + ' '+ user.last_name}}
  </h2>

</div>

<hr/>

